

<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Properties <span *ngIf="hasFiltered()">(-All-)</span><span *ngIf="!hasFiltered()">(-Filtered-)</span></span>
      <span class="flex-spacer"></span>
      <a mat-icon-button aria-label="add icon button" [routerLink]="['add']">
        <mat-icon>add</mat-icon>
      </a>
      <!--<button mat-icon-button aria-label="add icon button" (click)="addProperty()">
      <mat-icon>add</mat-icon>
    </button>-->
      <button mat-icon-button aria-label="menu icon button" (click)="secondRow =!secondRow">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="secondRow" style="height: 111px;">
      <form [formGroup]="selectionForm" style="display:contents;">
        <button mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <span class="flex-spacer"></span>
        <mat-form-field appearance="outline" *ngIf="posts$ | async as posts">
          <mat-select formControlName="postNumber">            
            <mat-option [value]="'0'" selected>-- Display All --</mat-option>
            <mat-option *ngFor="let post of posts" [value]="post.postNumber">{{post.postNumber}}</mat-option>
          </mat-select>
          <mat-label>Select post to filter</mat-label>
        </mat-form-field>
        <span class="flex-spacer"></span>
        <mat-form-field appearance="outline" *ngIf="propTypes$ | async as types" style="width:231px;">          
          <mat-select formControlName="propertyType">
            <mat-option [value]="0" selected>-- Display All --</mat-option>
            <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
          </mat-select>
          <mat-label>Select property type to filter</mat-label>
        </mat-form-field>
        <span class="flex-spacer"></span>
        <button mat-icon-button class="icon" aria-label="icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </form>
    </mat-toolbar-row>
  </mat-toolbar>


  <div class="card-body" *ngIf="properties$ | async as properties">
    <mat-accordion class="headers-align" multi>
      <mat-expansion-panel *ngFor="let property of properties">
        <mat-expansion-panel-header>
          <mat-panel-title style="flex-grow:3">{{property.address}}</mat-panel-title>
          <mat-panel-description style="flex-grow:1" *ngIf="property.leaseId>0">Leased <mat-icon>account_circle</mat-icon></mat-panel-description>
        </mat-expansion-panel-header>
        <p class="pad-11 no-margin"><span style="font-size:large;">Post : </span> {{property.postnr}}</p>
        <p class="pad-11 no-margin"><span style="font-size:large;">By: </span> {{property.postnrnavn}}</p>
        <p class="pad-11 no-margin"><span style="font-size:large;">Størrelse-:</span> {{property.size}} m² ({{property.rooms}} værelser)</p>
        <!--<p><span style="font-size:large;">Size: </span> {{property.size}}</p>
  <p><span style="font-size:large;">Rums: </span> {{property.rooms}}</p>-->
        <div style="width: 100%; text-align:center;">
          <button mat-stroked-button color="primary" style="margin-right:31px"><mat-icon>edit_note</mat-icon></button>
          <button mat-stroked-button *ngIf="property.leaseId === 0" color="primary" [routerLink]="['/customer/tenancies/add', property.id]" style="margin-right:31px">Lease</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div>
      <span *ngIf="properties!.length <= 0">Properties (loading ... No Property found.)</span>
    </div>
  </div>
</div>
