<div class="container">
  <div class="card card-small central-res-card">
    <mat-toolbar style="background:none;">
      <mat-toolbar-row>
        <mat-icon class="pad-11-left">login</mat-icon>
        <span class="pad-11-left">Login</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <p class=".pad-11-left" style="font-size:small">login to access properties and leasing information</p>
      </mat-toolbar-row>
    </mat-toolbar>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="element-md">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="username" autocomplete="off" required>
        <mat-icon matSuffix>edit</mat-icon>
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="element-md">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password" autocomplete="off" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div style="width: 100%; text-align:center;">
        <button mat-stroked-button color="primary" type="submit" class="space-md">Login</button>
        <button mat-stroked-button color="primary" routerLink="/register" class="space-md">Register</button>
      </div>
    </form>
    <div style="display:none">
      <p>form status :- {{loginForm.status}}</p>
      <p>form condit :- {{loginForm.dirty}}</p>
    </div>
  </div>
</div>

