
<div class="container">

  <mat-toolbar>
    <mat-toolbar-row>
      <!--(All)-->
      <span>Persons </span>
      <span class="flex-spacer"></span>
      <a mat-icon-button aria-label="add icon button" [routerLink]="['add']">
        <mat-icon>add</mat-icon>
      </a>
      <button mat-icon-button aria-label="menu icon button" (click)="secondRow =!secondRow">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="secondRow" style="height:111px;">
      <button mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <span class="flex-spacer"></span>
      <mat-form-field appearance="outline" style="width:313px;" [floatLabel]="'always'" *ngIf="incomeRanges$ | async as ranges">
        <!--(selectionChange)="selectPost($event.value)"-->
        <mat-select (selectionChange)="selectIncomeRange($event.value)">
          <mat-option [value]="0">-- Display All --</mat-option>
          <mat-option *ngFor="let range of ranges" [value]="range.id">[ {{range.range}} ] {{range.currency}}</mat-option>
        </mat-select>
        <mat-label>Selecte income range to filter persons</mat-label>
      </mat-form-field>
      <span class="flex-spacer"></span>     
      <button mat-icon-button class="share-icon" aria-label="icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="card-body">
    <mat-accordion class="headers-align" *ngIf="persons$ |async as persons" multi>
      <mat-expansion-panel *ngFor="let person of persons">
        <mat-expansion-panel-header>
          <mat-panel-title>{{person.firstName}} {{person.lastName}}</mat-panel-title>
          <mat-panel-description *ngIf="person.leaseId !== 0">Tenant <mat-icon>account_circle</mat-icon></mat-panel-description>
        </mat-expansion-panel-header>
        <p class="pad-11"><span style="font-size:large;">Email: </span> {{person.email}}</p>
        <p class="pad-11"><span style="font-size:large;">Phone: </span> {{person.phone}}</p>
        <p class="pad-11"><span style="font-size:large;">Address: </span> {{person.address}}</p>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="persons?.length===0">
        <mat-expansion-panel-header>
          <mat-panel-title> Sorry no person found</mat-panel-title>          
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
