
<div class="container">

      <mat-toolbar>
        <mat-toolbar-row>
          <span>Person (All)</span>
          <span class="flex-spacer"></span>
          <a mat-icon-button aria-label="add icon button" [routerLink]="['add']">
            <mat-icon>add</mat-icon>
          </a>
          <button mat-icon-button aria-label="menu icon button" (click)="secondRow =!secondRow">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="secondRow">
          <span>Second Line</span>
          <span class="flex-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
     
    </div>
    <div class="card-body">
      <mat-accordion class="headers-align" multi>

      </mat-accordion>
    </div>
<p>Person List Works</p>
