.toolbar {
  /*position: absolute;*/
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
/*  background-color: #1976d2;
  color: white;*/
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}



.container {
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media screen and (min-width: 768px){
  .container {
    max-width: 720px;
  }
}
 
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

.plane-text {
    font-weight:400;
}
