<div class="container">

  <!-- Toolbar -->
  <div class="toolbar" role="banner">    
    <img src="https://uploads-ssl.webflow.com/5e663bec8b193243e06d4445/609a48f7ac2853c00b0e92e2_house-green.svg" loading="lazy" alt="" class="image-37">
    <span *ngIf="activeUser$|async as user">{{user.firstName}} {{user.lastName}}</span>
    <div class="flex-spacer"></div>
    <nav>
      <button mat-flat-button [routerLink]="['./properties']" class="plane-text">Properties</button>
      <button mat-flat-button [routerLink]="['./tenancies']" class="plane-text">Tenancies</button>
      <button mat-flat-button [routerLink]="['./persons']" class="plane-text">Persons</button>
      <button mat-flat-button [routerLink]="['./profile']" class="plane-text">Portfolio</button>
    </nav>
  </div>   
  <router-outlet></router-outlet>
</div>

